<div class="surface-section px-2 py-2 md:px-2 lg:px-2">
<div class="card">

  <p-table
    [value]="Clients"
    selectionMode="single"
    [(selection)]="Client"
    dataKey="code"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Numpi</th>
        <th>Clienttype</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Age</th>
        <th>Tel</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Client>
      <tr [pSelectableRow]="Client">
        <button
        pButton
        pRipple
        label=""
        icon="pi pi-check"
        class="p-button-text"
        (click)="submit(Client)"
      ></button>
        <td>{{ Client.Numpi }}</td>
        <td>{{ Client.Clienttype }}</td>
        <td>{{ Client.Nom }}</td>
        <td>{{ Client.Prenom }}</td>
        <td>{{ Client.Age }}</td>
        <td>{{ Client.Tel }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
