#contrat {
    width: 100%;
    min-width: 350px;
    height: 100vh;
    margin: 0 auto;
}

.display {
    display: inline-block;
    width: 49%;
}

.b {
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

.padd {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.borderclass {
    border: 2px solid black;
}
