<p-table
[value]="this.vehiculeKM"
dataKey="id"
responsiveLayout="scroll"
>
<ng-template pTemplate="header">
  <tr>
    <th>immatricule</th>
    <th>km</th>
    <th></th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-vehicules>
  <tr>
    <td>{{ vehicules.Immatricule }}</td>
    <td><input
      name="ICE"
      type="text"
      pInputText
      [(ngModel)]="Kilometrage"
    /></td>
    <td> <button
      pButton
      pRipple
      icon="pi pi-pencil"
      class="p-button-rounded p-button-success p-mr-2"
      (click)="edit(vehicules)"
    ></button></td>
  </tr>
</ng-template>
</p-table>
