<div class="surface-section px-2 py-2 md:px-2 lg:px-2">
<div class="card">

  <p-table
    [value]="Vehicules"
    selectionMode="single"
    [(selection)]="Vehicule"
    dataKey="code"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Immatricule</th>
        <th>Marque</th>
        <th>Model</th>
        <th>Kilometrage</th>
        <th>Prix</th>
        <th>Carburant</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Vehicule>
      <tr *ngIf="Vehicule.Disponibilite == 'oui'">
        <button
          pButton
          pRipple
          label=""
          icon="pi pi-check"
          class="p-button-text"
          (click)="submit(Vehicule)"
        ></button>
        <td>{{ Vehicule.Immatricule }}</td>
        <td>{{ Vehicule.Marque }}</td>
        <td>{{ Vehicule.Model }}</td>
        <td>{{ Vehicule.Kilometrage }}</td>
        <td>{{ Vehicule.Prix }}</td>
        <td>{{ Vehicule.Carburant }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
